@page
@model AddEvent
@{
    ViewData["Title"] = "Ürituse lisamine";
}

<div class="bg-white">
    <div class="grid-container-add-event">
        <div class="grid-item-add-event bg-blue">
            Ürituse lisamine
        </div>
        <div><img class="add-event-img" src="~/libled.jpg" /></div>
    </div>
    <div class="add-event-form">
        <div class="add-event-caption">
            Ürituse lisamine
        </div>
        <form action="" method="post">
            <div class="form-container">
            <label class="form-container-detail" for="name">Ürituse nimi:</label>
                <input class="form-container-detail" type="text" id="name" name="name" value="@Model.Name" />
            <label class="form-container-detail" for="date">Toimumisaeg:</label>
                <input class="form-container-detail" type="datetime-local" id="date" name="date" value="@Model.Date" />
            <label class="form-container-detail" for="location">Koht:</label>
                <input class="form-container-detail" type="text" id="location" name="location" value="@Model.Location" />
            <label class="form-container-detail" for="add-info">Lisainfo:</label>
                <textarea class="form-container-detail" id="add-info" name="addInfo" rows="3" cols="60" value="@Model.AddInfo" maxlength="1000"></textarea>
            </div>
            <br />
            <br />
            <a href="../Index"><input type="button" class="form-button" value="Tagasi"/></a>
            <input class="form-button bg-blue" type="submit" value="Lisa"/>

            <div>
                <br />
                @foreach (string s in Model.errors)
                {
                    <p class="error">@s</p>
                }
            </div>
        </form>
    </div>
</div>
