@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="grid-container2">
    <div class="grid-item2 bg-blue">
        Sed nec elit vestibulum, <b>tincidunt orci</b> et, sagittis<br>
        ex. Vestibulum rutrum <b>neque suscipit</b> ante<br>
        mattis maximus. Nulla non sapien <b>
            viverra,<br>
            lobortis lorem non
        </b>, accumsan metus.<br>
    </div>
        <img src="~/pilt.jpg" />
</div>

<div class="grid-container6 txt-middle-of-box">
    <div class="grid-container3 bg-blue">
        <div class="grid-item3">
            Tulevased üritused
        </div>
    </div>
    <div class="grid-container5 bg-blue">
        <div class="grid-item3">
            Toimunud üritused
        </div>
    </div>

    <div class="container-event">
        <div class="event-list-event">
            <div class="element-event-list fw-bold">Ürituse nimi</div>
            <div class="element-event-list fw-bold">Kuupäev</div>
            <div class="element-event-list fw-bold">Toimumiskoht</div>
            <div class="element-event-list fw-bold">Osalejad</div>
            <div class="element-event-list fw-bold"></div>
            @{int count = 1;}
            @foreach (Event e in Model.eventsFuture)
            {
                <div class="element-event-list">@count. <a href="/Participants?id=@e.EventId">@e.Name</a></div>
                <div class="element-event-list">@e.EventDate.ToString("dd.MM.yyyy")</div>
                <div class="element-event-list">@e.Location</div>
                <div class="element-event-list">@Model.GuestCount[e.EventId] <a href="/AddParticipant?id=@e.EventId">Lisa osaleja</a></div>
                <div class="element-event-list"><form action="" method="post"><input name="deleteId" id="deleteId" value="@e.EventId" hidden /><input class="delete-from-list" type="submit" value="X" /></form></div>
                {
                    count++;
                }
            }
        </div>
    </div>
    <div class="container-event">
        <div class="event-list-event-past">
            <div class="element-event-list fw-bold">Ürituse nimi</div>
            <div class="element-event-list fw-bold">Kuupäev</div>
            <div class="element-event-list fw-bold">Toimumiskoht</div>
            <div class="element-event-list fw-bold">Osalejad</div>
            @{
                int countPast = 1;
            }
            @foreach (Event e in Model.eventsPast)
            {
                <div class="element-event-list">@count. <a href="/Participants?id=@e.EventId">@e.Name</a></div>
                <div class="element-event-list">@e.EventDate.ToString("dd.MM.yyyy")</div>
                <div class="element-event-list">@e.Location</div>
                <div class="element-event-list">@Model.GuestCount[e.EventId]</div>
                {
                    countPast++;
                }
            }
        </div>
    </div>
</div>
<div class="container"><a asp-page="AddEvent">LISA ÜRITUS</a></div>







