@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="grid-container2">
    <div class="grid-item2 bg-blue">
        Sed nec elit vestibulum, <b>tincidunt orci</b> et, sagittis<br>
        ex. Vestibulum rutrum <b>neque suscipit</b> ante<br>
        mattis maximus. Nulla non sapien <b>
            viverra,<br>
            lobortis lorem non
        </b>, accumsan metus.<br>
    </div>
        <img src="~/pilt.jpg" />
</div>

<div class="grid-container6 txt-middle-of-box">
    <div class="grid-container3 bg-blue">
        <div class="grid-item3">
            Tulevased üritused
        </div>
    </div>
    <div class="grid-container5 bg-blue">
        <div class="grid-item3">
            Toimunud üritused
        </div>
    </div>

    <div class="container-event">
        <div class="event-list-event-past">
            @{int count = 1;}
            @foreach (Event e in Model.eventsFuture)
            {
                <div>@count. @e.Name</div>
                <div>@e.EventDate.ToString("dd.MM.yyyy")</div>
                <div><a href="/Participants?id=@e.EventId" class="logo">Osavõtjad</a></div>
                {
                    count++;
                }
            }
        </div>
    </div>
    <div class="container-event">
        <div class="event-list-event">      
            @{
                int countPast = 1;
            }
            @foreach (Event e in Model.eventsPast)
            {
                <div>@countPast. @e.Name</div>
                <div>@e.EventDate.ToString("dd.MM.yyyy")</div>
                <div><a href="/Participants?id=@e.EventId" class="logo">Osavõtjad</a></div>
                <div>X</div>
                {
                    countPast++;
                }
            }
        </div>
    </div>
</div>
<div class="container"><a asp-page="AddEvent">LISA ÜRITUS</a></div>







