@page
@model Participants
@{
    ViewData["Title"] = "Osavõtjad";
}

<div class="bg-white">
    <div class="grid-container-add-event">
        <div class="grid-item-add-event bg-blue">
            Osavõtjad
        </div>
        <div><img class="add-event-img" src="~/libled.jpg" /></div>
    </div>

    <div class="participants-body">

        <div class="add-event-caption">
            Osavõtjad
        </div>

        <div class="participants">
            <div>Ürituse nimi:</div>
            <div>@Model.EventToShow.Name</div>
            <div>Toimumisaeg:</div>
            <div>@Model.EventToShow.EventDate.ToString("dd.MM.yyyy HH:mm")</div>
            <div>Koht:</div>
            <div>@Model.EventToShow.Location</div>
            <div>Lisainfo:</div>
            <div>@Model.EventToShow.AddInfo</div>
            <div>Osavõtjad:</div>
            <div>
                <br />
                <div class="participants-list">
                    @{int count = 1;}
                    @foreach (Guest guest in @Model.guests)
                        {
                        
                            if (guest.ClientTypeId.Equals(2))
                            {
                                <div>@count. @guest.FirstName (@guest.LastName osalejat)</div>

                            } else
                            {
                                <div>@count. @guest.FirstName @guest.LastName</div>
                            }

                        <div>@guest.IdNumber</div>
                        <div><a href="AddParticipant?eventId=@Model.EventToShow.EventId&clientType=@guest.ClientTypeId&changeDetails=1&guestId=@guest.GuestId">Vaata</a></div>
                        
                            
                            <div><a href="Participants?id=@Model.EventToShow.EventId&guestId=@guest.GuestId&delete=y">Kustuta</a></div>
                            { count++; }
                        }

                </div>
            </div>
        </div>
        <a href="../Index"><input type="button" class="form-button" value="Tagasi" /></a>

    </div>
</div>
