@page
@model praktikaylrik.Pages.ParticipantInfoModel
@{
    ViewData["Title"] = "Osavõtja info";
}


<div class="bg-white">
    <div class="grid-container-add-event">
        <div class="grid-item-add-event bg-blue">
            Osavõtja info
        </div>
        <div><img class="add-event-img" src="~/libled.jpg" /></div>
    </div>

    <div class="add-event-form">
        <div class="add-event-caption">
            Osavõtja info
        </div>
        <form method="post" action="">
            <div class="form-container">
                @{
                    if (!Model.GuestToShow.IsCompany) {
                        <label class="form-container-detail" for="firstName">Eesnimi</label>
                        <input class="form-container-detail" type="text" id="firstName" name="firstName" value="@Model.GuestToShow.FirstName" />
                        <label class="form-container-detail" for="lastName">Perenimi:</label>
                        <input class="form-container-detail" type="text" id="lastName" name="lastName" value="@Model.GuestToShow.LastName" />
                        <label class="form-container-detail" for="idCode">Isikukood:</label>
                        <input class="form-container-detail" type="text" id="idCode" name="idCode" value="@Model.GuestToShow.IdNumber" />
                    } else
                    {
                        <label class="form-container-detail" for="firstName">Ettevõtte nimi:</label>
                        <input class="form-container-detail" type="text" id="firstName" name="firstName" value="@Model.GuestToShow.FirstName" />
                        <label class="form-container-detail" for="lastName">Osalejate arv:</label>
                        <input class="form-container-detail" type="number" id="lastName" name="lastName" value="@Model.GuestToShow.LastName" />
                        <label class="form-container-detail" for="idCode">Registrikood:</label>
                        <input class="form-container-detail" type="text" id="idCode" name="idCode" value="@Model.GuestToShow.IdNumber" />
                    }
                }

                <label class="form-container-detail" for="payment">Maksmisviis:</label>
                <select class="form-container-detail" name="payment" id="payment">
                    @{
                        if(Model.GuestToShow.PaymentType.Equals("Sularaha"))
                        {
                            <option value="Sularaha">Sularaha</option>
                            <option value="Pangaülekanne">Pangaülekanne</option>
                        } else
                        {
                            <option value="Pangaülekanne">Pangaülekanne</option>
                            <option value="Sularaha">Sularaha</option>
                        }
                    }
                    
                </select>
                <label class="form-container-detail" for="addInfo">Lisainfo:</label>
                <textarea class="form-container-detail" id="addInfo" name="addInfo" rows="3" cols="60" value="@Model.GuestToShow.AddInfo"></textarea>
                <input name="guestId" id="guestId" value="@Model.GuestToShow.GuestId" hidden />
                <input name="eventId" id="eventId" value="@Model.GuestToShow.EventId" hidden />
                <input name="isCompany" id="isCompany" value="@Model.GuestToShow.IsCompany" hidden />
            </div>
            <br />
            <br />
            <input class="form-button" type="button" value="Tagasi" />
            <input class="form-button bg-blue" type="submit" value="Salvesta" />
        </form>
    </div>
    <div>
        @{
            foreach (string error in Model.Errors)
            {
                <p class="error">@error</p>
            }
        }
    </div>
</div>